#app-header {
    background-color: #93c47d;
    padding: 20px;
    border: 1px solid transparent;
    border-bottom-color: whitesmoke;
}

#app-header * {
    display: inline-block;
    vertical-align:middle;
}

#app-header-logo {
    height: 70px;
    cursor: pointer;
}

#app-header-title {
    margin-left: 25px;
    color: whitesmoke;
    font-size: xx-large;
}