#centres_panel-main {
    height: inherit;
    width: 450px;
    background-color: #c7eab8;
    z-index: 9999;
}

.centres_menu_bt {
    height: 42px;
    width: 42px;
    float: right;
    margin: 16px;
}

.input-group {
    width: 400px;
    margin: auto;
}