#centres_panel-main {
    -webkit-transition-duration: 500ms; /* Safari */
    transition-duration: 500ms;

    height: inherit;
    width: 450px;
    background-color: #c7eab8;
    z-index: 9999;
    overflow: auto;
}

.centres_panel-main-closed {
    -ms-transform: translate(-375px, 0px); /* IE 9 */
    -webkit-transform: translate(-375px, 0px); /* Safari */
    transform: translate(-375px, 0px);
}

@keyframes showEffect {
    0% {
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes hideEffect {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.centres_panel-content-show {
    animation: 300ms showEffect;
}

.centres_panel-content-hide {
    animation: 300ms hideEffect;
    animation-fill-mode: forwards;
}

.centres_menu_bt {
    height: 42px;
    width: 42px;
    float: right;
    margin: 16px;
}

.input-group {
    width: 400px;
    margin: auto;
}

.shelter-list {
    padding: 0;
    margin: 20px 0 0;
}

.shelter-item {
    display: block;
    list-style:none;
    background-color: white;
    margin: 0;
}

.shelter-item blockquote {
    position: relative;
    display: block;
    padding: 15px;
    margin-top: 3px;
    margin-bottom: 0;
    font-size: 14px;
}

.shelter-places {
    margin: 15px;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
}

address {
    padding: 0;
    margin: 0;
}

.error-message {
    display: block;
    margin: auto;
    text-align: center;
}