#events_main_container {
    width: 35%;
    margin: auto;
}

.event-item {
    background-color: white;
    list-style:none;
    margin: 0;
}

.event_picture {
    margin: 20px;
}

.data-row {
    padding-left: 15px;
}

table tr {
    height: 25px;
}

.modal-body {
    padding: 25px;
    max-height: 500px;
}
