#home_main_bt_container {
    float: none;
    display: table;
    margin: 165px auto 0;
}

.left_bt_container {
    margin-left: 120px;
}

.bt_container {
    width: 260px;
    padding: 35px;
    background-color: #b6d7a8;
    border-radius: 15px;
    display: inline-block;
    border: 2px solid #93c47d;
}

.bt_container:hover {
    background-color: #93c47d;
}

.bt_container * {
    display: block;
}

.home_bt_img {
    height: 170px;
    margin: auto;
}

.home_bt_title {
    font-size: x-large;
    margin: 25px auto 0 auto;
    text-align: center;
    color: #404040;
}