<div id="centres-main">
    <div bsModal #smModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" (click)="smModal.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Oops</h4>
                </div>
                <div class="modal-body">
                    This shelter cannot be positioned on the map :(
                </div>
            </div>
        </div>
    </div>

    <sebm-google-map
            id="map_container"
            [style.height]="getGoogleMapHeight()"
            [latitude]="lat"
            [longitude]="lng"
            [zoom]="zoom"
            [disableDefaultUI]="false"
            [zoomControl]="false"
            (mapClick)="mapClicked($event)">

        <sebm-google-map-marker
                *ngFor="let m of markers; let i = index"
                (markerClick)="clickedMarker(m.shelter)"
                [latitude]="m.lat"
                [longitude]="m.lng"
                [label]="m.label"
                [markerDraggable]="false">

            <sebm-google-map-info-window>
                <strong>Détail d'un centre</strong>

                <blockquote *ngIf="selectedShelter">
                    <strong>{{selectedShelter.name}}</strong><br><br>

                    <img src="http://api.caritathelp.me/{{selectedShelter.thumb_path}}" class="center_main_detail_img"/><br>

                    <img *ngIf="selectedUrls" *ngFor="let url of selectedUrls" src="url" class="center_detail_img">

                    <address>
                        {{selectedShelter.name}}<br>
                        {{selectedShelter.address}}<br>
                        {{selectedShelter.city}}, {{selectedShelter.zipcode}}
                    </address>

                    <div class="shelter-places">
                        Places : <strong>{{selectedShelter.free_places}}</strong><br>
                        Capacité : <strong>{{selectedShelter.total_places}}</strong><br>
                        <div *ngIf="selectedShelter.tags" class="tags_container">tags :
                            <span *ngFor="let tag of selectedShelter.tags">
                                <strong>{{tag}} </strong>
                            </span>
                        </div>
                        Ref : <strong>{{selectedShelter.id}}</strong>
                    </div>
                </blockquote>
            </sebm-google-map-info-window>
        </sebm-google-map-marker>
    </sebm-google-map>

    <centres-panel
            id="panel_container"
            (onShelterSelected)="onShelterSelected($event)"
            (onQueryFinished)="onQueryFinished($event)"
            [style.height]="getGoogleMapHeight()">

    </centres-panel>
</div>