<div id="centres_panel-main" class="{{panelState}}">
    <img
            (click)="toggle(visible = !visible)"
            src="{{buttonSrc}}"
            class="centres_menu_bt"
            alt="Ouvrir ou fermer le menu"/>

    <div class="{{contentAlpha}}">
        <div class="input-group">
            <input
                    type="text"
                    class="form-control"
                    placeholder="Search"
                    [(ngModel)]="query" >
            <div class="input-group-btn">
                <button
                        (click)="onSearchRequested()"
                        class="btn btn-default m-progress"
                        type="submit">
                    <i class="glyphicon {{icMainButton}}"></i>
                </button>
            </div>
        </div>

        <div
                id="free_place_container">
            <input
                    (click)="onFreePlacesOnlyChanged()"
                    type="checkbox">
            Afficher uniquement les centres avec des places libre
        </div>
        <button
                type="button"
                class="btn btn-default btn-sm clear_list_btn"
                (click)="clearList()">
            Vider la liste
        </button>
        <ul class="shelter-list">
            <li *ngFor="let shelter of shelters"
                (click)="onSelect(shelter)"
                class="shelter-item">
                <blockquote>
                    <strong>{{shelter.name}}</strong><br><br>

                    <img src="http://api.caritathelp.me/{{shelter.thumb_path}}" class="shelter_item_list_detail_img"/><br>
<!--                    <address>
                        {{shelter.name}}<br>
                        {{shelter.address}}<br>
                        {{shelter.city}}, {{shelter.zipcode}}
                    </address>-->

                    <div class="shelter-places">
                        Places : <strong>{{shelter.free_places}}</strong><br>
                        Capacité : <strong>{{shelter.total_places}}</strong><br>
                        <div *ngIf="shelter.tags" class="tags_container">tags :
                            <span *ngFor="let tag of shelter.tags">
                                <strong>{{tag}} </strong>
                            </span>
                        </div>
                    </div>
                </blockquote>
            </li>
        </ul>
        <span class="error-message">{{errorMessage}}</span>
    </div>
</div>