<div id="home_main_bt_container">
    <div class="bt_container" (click)="onCentersRequested()">
        <img class="home_bt_img" src="app/res/drawable/picto-map.png" alt="Recherche de centre"/>
        <span class="home_bt_title">Rechercher un centre</span>
    </div>

    <div class="bt_container left_bt_container" (click)="onEventsRequested()">
        <img class="home_bt_img" src="app/res/drawable/picto-events.png" alt="Recherche de centre"/>
        <span class="home_bt_title">Rechercher évènement</span>
    </div>
</div>